{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'search/static/nav.css' %}">

<div class="nav">
    <div class="left">
        <span class="logo">
            DrugLabelExplorer
        </span>
    </div>

    <div class="right">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <ul class="nav-links">
            <!-- TODO: all links route back to compare/index for now-->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'compare:index' %}">Drug Label Explorer</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    Signed in as <strong>{{ user.username }}</strong>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'compare:index' %}">Log Out</a>
                </li>
             {% else %} 
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'compare:index' %}">Log In</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'compare:index' %}">Register</a>
                </li>
            {% endif %}
        </ul>

    </div>
</div>

<script type="text/javascript" src="{% static 'search/static/nav.js' %}"></script>
<script type="text/javascript">

ham = document.querySelector('.hamburger');
navlinks = document.querySelector('.nav-links');
ham.addEventListener('click', e => {
    navlinks.classList.toggle('open')
}) 
</script>