header {
    box-shadow: 0px 2px 4px  rgba(0,0,0,.5);
    background-color: #222;
    height: 80px;
    position: fixed;
    top: 0;
    transition: top 0.2s cubic-bezier(.02, .01, .47, 1);
    width: 100%;
    z-index: 1;
}

.nav-up {
    /* hide navigation on scroll */
    top: -80px;
  }

.brand {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    margin-top: 16px;
    margin-left: 40px;
}

.brand-logo {
    color: #fff;
}

.brand-logo:hover {
    color: #fff;
    text-decoration: none;
}

.nav {
    float: right;
    margin-top: -44px;
    margin-right: 40px;
}

.nav-link {
    float: left;
    display: block;
    color: #bbb;
    height: 60px;
    border-bottom: 5px solid transparent;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
}

.nav-link:hover {
    color: #fff;
    border-bottom: 5px solid red;
}


.welcome {
    /* styling to inform user if logged in*/
    margin-left: 40px;
    margin-top: 96px;
}

.listbar {
    /* header */
    margin-left: 40px;
    display: inline-block;
    position: relative;
}

.card > a {
    text-decoration: none;
    color: #333333;
    margin-left: 20px;
    margin-right: 20px;
}

.card-title {
    font-weight: 600;
    font-size: 1rem;
    line-height: .5rem;
    width: 50%;
    display: inline-block;
    position: relative;
    margin-right: 8px;
}

.p {
    /* paragraph styling */
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    width: 40%;
    display: inline-block;
    position: relative;
}

.badge-secondary {
    /* requests count notification*/
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 2px;
    margin-left: 4px;
    
}


.row {
    /* card design */
    border-radius: 20px;
    box-shadow: 0px 0px 12px #ddd;
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}

.row:hover {
    box-shadow: 0px 6px 24px #ccc;
   
}

.additem {
    /* newitem.html format */
    margin-left: 40px;
    margin-right: 40px;
}

.login {
    /* login.html format*/
    margin-left: 40px;
    margin-right: 40px;
}

.register {
    /* register.html format*/
    margin-left: 40px;
    margin-right: 40px;
}

.itempro {
    /* itemprofile.html format*/
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;

}

.item-listing {
    /* item detail card in itemprofile.html */
    display: inline-block;
    position: relative;
    width: 50%;
    min-width: 460px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px #ddd;
    margin-left: 10px;
    margin-bottom: 20px;
}


.item-tracking {
    /* location tracking card in itemprofile.html */
    display: inline-block;    
    position: relative;
    width: 30%;
    min-width: 460px;
    padding: 40px;
    vertical-align: top;
    border-radius: 20px;
    box-shadow: 0px 0px 12px #ddd;
    margin-left: 10px;
    margin-bottom: 20px;
}

.location-input{
    /* location input on location tracking card in itemprofile.html*/
    width: max-content;
    display: inline-block;
}

.list-group-item{
    /* location history on location tracking card in itemprofile.html */
    border: none;
    background-color: #efefef;
}
