{% extends "users/layout1.html" %}

{% block body %}

<div class="mx-auto m-4 card" style="width: 20rem;">
    <div class="card-header">
    <!--card shows account info following specs-->
      Username: {{user.username.capitalize}} 
     
    </div>
  </div>

  <div class="content-section">
    <legend class="border-bottom mb-4">Ulubione</legend>
    {% for drug in fav_drug %}
        <div class="row justify-content-start bg-light">
            <div class="col">
                {{ drug.drugname }}
            </div>
            <div class="col">
                Saved Queries:
            </div>
            <div class="col-3">
                <a href="{% url 'favourite_add' drug.id %}" class="btn btn-outline-danger btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                 Unsave
                </a>
             </div>
        </div>
    {% endfor %}
  </div>

  <nav>
    <!--navigation tool to toggle through pages following pagination specs-->
    <ul class="justify-content-center pagination">
      {% if allposts.has_previous %}
      <!--allows previous to be active only if there is a previous page-->
      <!--referenced w3schools and section discussion-->
        <li class="page-item">
            <a class="page-link" href="?page={{ allposts.previous_page_number }}">Previous</a>
        </li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
      {% endif %}
      

      {% for n in allposts.paginator.page_range %}
      <!--accounting for necessary pages following spec-->
        {% if allposts.number == n %}
            <li class="page-item active"><a class="page-link" href="?page={{n}}">{{n}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{n}}">{{n}}</a></li>
        {% endif %}
      {% endfor %}

      {% if allposts.has_next %}
      <!--if more than 10 posts, option for next page is active -->
        <li class="page-item">
            <a class="page-link" href="?page={{ allposts.next_page_number }}">Next</a>
        </li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}