.nav{
    position: relative;
    display: flex;
    width: 100vw;
    height: 10vh;
    background: #000000;
}

ul{
    display: flex;
    list-style: none;
    position: relative;
    justify-content: space-around;
}

li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

li a:hover{
    color: #f75d52;
}

li{
    margin: 5vh 0;
    transform: translateY(-50%);
    /* background: lightsalmon; */
}

.left{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: left;
}

.right{
    width: 50%;
    height: 100%;
    position: relative;
    /* background: lightgreen; */
}

span.logo{
    color: white;
    font-size: 21px;
    margin: auto 0.5em;
}

